* {
  font-family: "poppins", sans-serif;
}



#navbar {
  background-color: #383838;
}

#nav-item {
  color: #b2b2b2;
}

#logo {
  color: #fff;
}

#hero {
  background: url("./img/clouds-1.jpg");
  background-position: bottom;
  background-size: cover;
}

#hero div h1 {
  color: #383838;
}

#hero div h2 {
  color: #383838;
}

#footer {
  background-color: #00c4a7;
  color: white;
  flex-direction: row;
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#fb {
  background: url("./img/fb.png");
  background-size: cover;
  padding: 15px;
  margin-right: 15px;
}

#in {
  background: url("./img/in.png");
  background-size: cover;
  padding: 15px;
}

#social {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#cog {
  height: 60px;
  width: 60px;
  background: url("./img/cogs.png");
  background-size: cover;
  margin: 10px;
}

#company {
  min-height: 250px;
  background: url("./img/company.jpg");
  background-size: cover;
  background-position: bottom;
}

.columns {
  flex-wrap: wrap;
}

.subtitle:first-letter {
  text-transform: uppercase;
}

.answer:first-letter {
  text-transform: uppercase;
}